.gallery-box {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.gallery {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  transition: all 250ms ease-in-out;
  border-radius: 12px;
}
.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  border-radius: 12px;
}
